html{
	
width: 100%;
	height: 100%;
	background: #000 url(tropical-beach-sunrise.jpg) center / cover no-repeat;
	min-height: 100%;
	min-width: 100%
	background-size: 100%;
	z-index: -1;
	font-family: 'Bebas Neue', cursive;
	
	
}
.main{
	text-align: center;
	    border: 20px white solid;
    padding: 0.5;
    margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	padding-bottom: 2%;
	z-index: 1;
	background: url(mountains-and-blue-lake.jpg) center / cover no-repeat;
	
	
	
	
}
p{
	font-size:4vw;
	margin-top:30%;
	color:white;
	text-decoration: underline;
}
a{
color:#FF0000;
 text-decoration:none;
}
img{
	text-align: center;
	width:50px;
	margin-right:10px;
	margin-left:10px;
	
}

@media only screen and (max-width: 1000px){
	.main{
	margin-top:25%;
	
}
	.img{
	width: 8vw;	
}
}
